<h1>Gestionar Productos</h1>

<div class="buscador d-flex justify-content-between align-items-center">
  <button class="btn-anadirProd" (click)="abrirModal()">Agregar Producto</button>

</div>

<div class="container">
  <div class="menu-grid">
    <div class="menu-card" *ngFor="let producto of productosFiltrados">
      <img [src]="'data:' + producto.tipoImagen + ';base64,' + producto.datosImagen" alt="Producto" class="menu-img" />
      <h5>{{ producto.nombreProducto }}</h5>
      <p>Precio: ${{ producto.precio }}</p>
      <p>Stock: {{ producto.stock }}</p>
      <p>Puntos por unidad: {{ producto.precioPuntos }}</p>

      <div class="icon-buttons">
        <button class="icon-btn" (click)="eliminarProducto(producto.id_producto)" title="Eliminar">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#BF5E54" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0
              0 1 0 1h-.538l-.853
              10.66A2 2 0 0 1 11.115
              16h-6.23a2 2 0 0 1-1.994-1.84L2.038
              3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5
              1.5 0 0 1 6.5 0h3A1.5 1.5 0
              0 1 11 1.5m-5 0v1h4v-1a.5.5
              0 0 0-.5-.5h-3a.5.5 0 0
              0-.5.5M4.5 5.029l.5 8.5a.5.5
              0 1 0 .998-.06l-.5-8.5a.5.5 0
              1 0-.998.06m6.53-.528a.5.5
              0 0 0-.528.47l-.5 8.5a.5.5 0
              0 0 .998.058l.5-8.5a.5.5 0
              0 0-.47-.528M8 4.5a.5.5 0 0
              0-.5.5v8.5a.5.5 0 0 0
              1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="productoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content" [formGroup]="productoForm" (ngSubmit)="guardarProducto()">
        <div class="modal-header">
          <h5 class="modal-title">{{ productoForm.get('id')?.value ? 'Editar Producto' : 'Agregar Producto' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input formControlName="nombre" type="text" class="form-control mb-3" placeholder="Nombre del producto" required>
          <input formControlName="precio" type="number" class="form-control mb-3" placeholder="Precio" required>
          <input formControlName="precioPuntos" type="number" class="form-control mb-3" placeholder="PrecioPuntos" required>
          <input formControlName="stock" type="number" class="form-control mb-3" placeholder="Stock" required>
          <div class="mb-3">
            <label for="formFile" class="form-label">Sube una imagen de tu producto</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        </div>
        <div class="button-group">
          <button type="button" class="btn-eliminar" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn-anadir">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
