
.login-container {
  max-width: 650px;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.login-container label {
  margin-top: 1rem;
  font-weight: 500;
}

.login-container input {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.25rem;
  border-radius: 0.3rem;
  border: 1px solid #000000;
  background-color: #eae0dd;
}

.login-container button {
  margin-left: 5rem;
  margin-top: 3rem;
  width: 70%;
  padding: 0.75rem;
  background-color: #E6BC50;
  color: #fff;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #B48B37;
}

.login-links {
  margin-top: 1rem;
  text-align: center;
}

.login-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.login-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}
