/*Letra Logo*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

.custom-navbar{
  background-color: #BF5E54;
  min-height: 5vw;
}

.nav-link{
  position: relative;
  font-weight: normal;
  transition: all 0.3s ease;
  color: #eae0dd;
}
.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: #eae0dd;
  transition: width 0.3s ease;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-link.dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid currentColor;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  position: relative;
  top: 0.15em;
  z-index: 2;
}
.nav-link.active{
  font-weight: 700;
  color: #eae0dd;
}
.nav-item {
  margin: 1vw;
}
.navbar-nav{
  margin-right: 2vw;
}
.dropdown-menu {
  background-color: #eae0dd;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.dropdown-item{
  color: #BF5E54;
}

.logo{
  height: 5vw;
  margin-left: 2vw;
}

.logoTexto{
  font-family: 'Josefin Slab',sans-serif;
  margin-left: 1vw;
  margin-top: 0.5vw;
  font-size: 3rem;
  color: #eae0dd;
  margin-bottom: 0.5vw;
}

.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:active,
.nav-link.dropdown-toggle.show {
  background-color: transparent !important;
  font-weight: 700 !important;
  color: #eae0dd !important;
  outline: none !important;
  box-shadow: none !important;
}

/*Para que se ajuste al tamaño de las pantallas*/
@media (max-width: 575.98px) {
  .logoTexto {
    font-size: 1.5rem;
  }

  .logo {
    height: 40px;
  }

  .nav-item {
    margin: 0.5rem 0;
  }
}

/* Pequeño: celular horizontal o tablet chica */
@media (min-width: 576px) and (max-width: 767.98px) {
  .logoTexto {
    font-size: 2rem;
  }

  .logo {
    height: 50px;
  }
}

/* Mediano: tablet o pantalla chica */
@media (min-width: 768px) and (max-width: 991.98px) {
  .logoTexto {
    font-size: 2.2rem;
  }

  .logo {
    height: 55px;
  }

  .nav-item {
    margin: 0.8vw;
  }
}

@media (min-width: 992px) {
  .logoTexto {
    font-size: 3rem;
  }

  .logo {
    height: 5vw;
  }

  .nav-item {
    margin: 1vw;
  }
}


