<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex logo">
      <img src="img/LogoPuntoCafe.png" alt="Logo PuntoCafé"/>
      <p class="logoTexto">PuntoCafé</p>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/explorarCafeterias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Explorar Cafeterías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/crearCuenta" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Crear Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Iniciar Sesión</a>
        </li>
      </ul>
    </div>

  </div>

</nav>

<router-outlet></router-outlet>
