/*Letras*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

h1{
  font-family: 'Outfit',sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 1.5vw;
}

p{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h6{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 650;
}

span{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.container{
  margin-bottom: 5vw;
}

.imgCafeteria{
  height: 100px;
}


/*Tarjetas de cafeterias*/
.tarjetas{
  border-width: 3px;
  border-color: #BF5E54;
  background-color: transparent;
}

.hover-scale {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.hover-scale:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

