<!-- micuentacafe.component.html -->
<h1>Mi Cuenta</h1>
<div class="cuenta-container">
  <div class="menu-card"><strong>Nombre de la Cafetería:</strong> {{ nombre }}</div>
  <div class="menu-card"><strong>Ubicación:</strong> {{ ubicacion }}</div>
  <div class="menu-card"><strong>Hora de Apertura:</strong> {{ horaApertura }}</div>
  <div class="menu-card"><strong>Hora de Cierre:</strong> {{ horaCierre }}</div>
  <div class="menu-card"><strong>Correo electrónico:</strong> {{ correo }}</div>
  <div class="menu-card"><strong>Contraseña:</strong> ********</div>

  <div class="button-group">
    <button class="btn-anadir" (click)="irActualizar()">Actualizar Datos</button>
  </div>
</div>
