<h1>Mi Carrito</h1>

<div class="container">
  <h3>Cafetería: Mylssa</h3>
  <p>Resumen del pedido: </p>

  <form #form="" class="">
    <div class="lista-productos">
        <!-- Producto 1 aqui se van agregando -->
        <div class="producto">
          <div class="producto-info">
            <span class="nombre">Café Americano</span>
            <span class="precio">$25 x 2</span>
          </div>

          <div class="controles">
            <button>-</button>
            <span>2</span>
            <button>+</button>
          </div>
        </div>


        <div class="producto">
          <div class="producto-info">
            <span class="nombre">Pan de Elote</span>
            <span class="precio">$15 x 1</span>
          </div>

          <div class="controles">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
        </div>

        <hr class="linea-separadora">
        <span class="total">Total: $65.00</span>
        <button class="btn-anadir">Realizar Pedido</button>
      </div>
  </form>






</div>
