<div class="container mt-4">
  <h2>¡Hola, {{nombreCafeteria}}!</h2>

  <div class="row mt-5">
    <!-- Tarjeta 1 -->
    <div class="col-md-6 mb-4">
      <div class="card-link" routerLink="/cafeteria/gestProductos">
        <div class="card-custom">
          <img src="/img/gestionar.png" alt="Gestionar productos" class="icon-img" />
          <div>
            <h5 class="fw-bold">Gestionar productos</h5>
            <p>Agrega o edita tu menú.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-md-6 mb-4">
      <div class="card-link" routerLink="/cafeteria/verPedidos">
        <div class="card-custom">
          <img src="/img/visualizar.png" alt="Visualizar pedidos" class="icon-img" />
          <div>
            <h5 class="fw-bold">Visualizar pedidos</h5>
            <p>Consulta las órdenes recibidas.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-md-6 mb-4">
      <div class="card-link" routerLink="/cafeteria/verResenia">
        <div class="card-custom">
          <img src="/img/resena.png" alt="Visualizar reseñas" class="icon-img" />
          <div>
            <h5 class="fw-bold">Visualizar reseñas</h5>
            <p>Lee opiniones y calificaciones.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="col-md-6 mb-4">
      <div class="card-link" routerLink="/cafeteria/miCuentaCafe">
        <div class="card-custom">
          <img src="/img/cuenta.png" alt="Mi cuenta" class="icon-img" />
          <div>
            <h5 class="fw-bold">Mi cuenta</h5>
            <p>Actualiza tus datos, horarios y contraseña.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

