<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>¡Hola, {{nombreCafeteria}}!</h2>
  </div>

  <div class="row mt-5">
    <!-- Gestión de Productos -->
    <div class="col-md-6 mb-4">
      <a routerLink="/cafeteria/gestProductos" class="card-link">
        <div class="card-custom">
          <img src="/img/gestionar.png" alt="Gestión de productos" class="icon-img">
          <div>
            <h5 class="fw-bold">Gestión de productos</h5>
            <p>Administra tu menú y productos</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Visualizar Pedidos -->
    <div class="col-md-6 mb-4">
      <a routerLink="/cafeteria/verPedidos" class="card-link">
        <div class="card-custom">
          <img src="/img/visualizar.png" alt="Pedidos" class="icon-img">
          <div>
            <h5 class="fw-bold">Pedidos</h5>
            <p>Revisa y gestiona los pedidos</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Reseñas -->
    <div class="col-md-6 mb-4">
      <a routerLink="/cafeteria/verResenia" class="card-link">
        <div class="card-custom">
          <img src="/img/resena.png" alt="Reseñas" class="icon-img">
          <div>
            <h5 class="fw-bold">Reseñas</h5>
            <p>Consulta las opiniones de clientes</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Mi Cuenta -->
    <div class="col-md-6 mb-4">
      <a routerLink="/cafeteria/miCuentaCafe" class="card-link">
        <div class="card-custom">
          <img src="/img/cuenta.png" alt="Mi cuenta" class="icon-img">
          <div>
            <h5 class="fw-bold">Mi cuenta</h5>
            <p>Administra tu información</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
