<h1>Visualizar Pedidos</h1>
<div class="container my-4">

  <div class="accordion" id="accordionPedidos">
    <div class="accordion-item" *ngFor="let pedido of pedidos; let i = index">
      <h2 class="accordion-header" [id]="'heading' + i">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          [attr.aria-controls]="'collapse' + i"
          [attr.aria-expanded]="i === 0 ? 'true' : 'false'">
          <div class="d-flex flex-column flex-md-row justify-content-between w-100">
            <span>Pedido #{{ pedido.no_orden }}</span>
            <span class="fecha">{{ pedido.fechaCreacion | date:'medium' }}</span>
          </div>
        </button>
      </h2>
      <div [id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="i === 0"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionPedidos">
        <div class="accordion-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="descripcion m-0"><strong>Productos:</strong> {{ pedido.descripcion_producto }}</p>
            <p class="descripcion m-0"><strong>Total:</strong> <em> ${{ pedido.pago_final }} MXN</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
