<h1>Mis Pedidos</h1>
<div class="container my-4">
  <div class="mb-3">
    <ng-select
      [items]="['Todos','Esta semana', 'Este Mes']"
      [(ngModel)]="opcionSeleccionada"
      [searchable]="false"
      [clearable]="false"
      bindLabel=""
      class="custom-ng-select"
      placeholder="">
    </ng-select>
  </div>

  <div class="accordion" id="accordionPedidos">
    <div class="accordion-item" *ngFor="let pedido of pedidos; let i = index">
      <h2 class="accordion-header" [id]="'heading' + i">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          [attr.aria-controls]="'collapse' + i"
          [attr.aria-expanded]="i === 0 ? 'true' : 'false'">
          <div class="d-flex flex-column flex-md-row justify-content-between w-100">
            <span>Pedido #{{ pedido.idPedido || pedido.id }}</span>
            <span>{{ pedido.fecha || pedido.fechaPedido }}</span>
            <span class="cafe">Cafetería: {{ pedido.cafeteria?.nombre || pedido.cafeteria }}</span>
          </div>
        </button>
      </h2>
      <div [id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="i === 0"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionPedidos">
        <div class="accordion-body">
          <p class="descripcion"><strong>Ubicación:</strong> {{ pedido.cafeteria?.ubicacion || pedido.ubicacion }}</p>
          <p class="descripcion"><strong>Productos:</strong></p>
          <ul>
            <li *ngFor="let detalle of pedido.detalles">
              {{ detalle.cantidad }} x {{ detalle.producto?.nombreProducto || detalle.producto }}
            </li>
          </ul>
          <p class="descripcion"><strong>Total:</strong> <em> ${{ pedido.pago_final || pedido.total }} MXN</em></p>
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-start gap-2 flex-wrap">
            <p class="mb-0">⭐ <strong>Reseña:</strong> {{ pedido.resena || 'Sin reseña' }}</p>
            <button class="btn-editar">Editar Reseña</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
