/* You can add global styles to this file, and also import other style files */
/*COLORES:
Navbar: #BF5E54
Fondo: #eae0dd
Botón: #E6BC50
Boton seleccionado: #B48B37 */
body{
  background-color: #eae0dd;
}
