/* You can add global styles to this file, and also import other style files */
/*COLORES:
Navbar: #BF5E54
Fondo: #eae0dd
Botón: #E6BC50
Boton seleccionado: #B48B37 */
body{
  background-color: #eae0dd;
}



.btn-anadir {
  background-color: #E6BC50;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  transition: background-color 0.3s ease;
}


.swal2-loader {
  border-color: #E6BC50 !important;      /* color principal */
  border-top-color: #bfa03e !important;  /* color del borde superior para el efecto */
}
